* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  min-height: 30vh;
  max-height: 60vh;
  background-color: black;
  flex-wrap: wrap;
 
  }
.nav-center {
  width: 300px;
  display: flex;
  justify-content: space-between;
  }
.link-general {
  text-decoration: none;
  color: white;
 }
.link-center {
  font-family: serif;
  text-transform: uppercase;
  font-size: 0.95em;
}
.link {
  font-style: italic;
  text-transform: capitalize;
  font-size: 1.3em;
}
.link-button {
  text-transform: uppercase;
  font-size: 0.8em;
  border: 1px solid white;
  padding: 12px;
}
